<div
  class="normal"
  tw="flex flex-col p-4 gap-3 bg-gray-200"
  tw-hover="bg-gray-100"
>
  <h1>Test</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ea id, beatae
    asperiores eligendi ut cumque reiciendis repudiandae tempore! Officiis
    laboriosam molestias vero eligendi beatae eum minus numquam a eos, illo non
    consequuntur praesentium quos incidunt voluptatem tempore repellat quod.
    Quos porro provident vel unde, veritatis aut iure magni vero facere.
  </p>
</div>
